

html {  background: url(../images/black-bg.png) no-repeat black; height:100%; }
body {  margin: 20px; position: relative; height:100%;}
header a { color:gray; text-decoration: none; text-transform: uppercase }
header a:hover {  color:white;}
header ul { margin: 0; padding:0; font-family: 'Montserrat', sans-serif;}
header ul li { list-style: none;}
header .main-nav {  display: inline-block;  float:left;}
/*header .menu-main-nav-container {  display:inline-block;}*/
.home header .subpage-logo {  display: none;}
header .subpage-logo {  width:20%; display: inline-block; position:absolute;left: 50%;transform: translate(-50%, 0);-moz-transform: translate(-50%, 0);-webkit-transform: translate(-50%, 0);}
header .subpage-logo img {  width:100%;}
header .social {  float:right;}
header .social .social-icon {  display:inline-block;background-color:gray; padding: 8px; border-radius:30px; margin: 0 3px;}
header .social .social-icon:hover { background-color:white;}
header .social .social-icon img { max-width:90%;}


footer {  color:white; position: absolute; bottom:0; width: auto; left: 50%;transform: translate(-50%, 0);-moz-transform: translate(-50%, 0);-webkit-transform: translate(-50%, 0); }
footer .footer-section {  display: inline-block;  width: auto;}
footer .footer-section:last-child p{ margin-right:0; }
footer p {  margin:0 50px 0 0; font-family: 'Roboto', sans-serif;}
footer a {  color: gray; text-decoration: none;}
footer a:hover {  color:white;}
footer img { width:10%; }
/*footer .address { float:right;}*/


.image-wrapper {  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%); width:40%;}
.image-wrapper img {width: 100%;}
.image-wrapper p {  color:white; text-align: right; font-family: 'Montserrat', sans-serif; margin-top:-16px; font-size: 18px;}

#wpcf7-f18-p7-o1 {  padding-top:150px; padding-bottom:150px; width: 70%; margin: 0 auto;}
#wpcf7-f18-p7-o1 p {  color:gray;font-family: 'Montserrat', sans-serif; text-transform: uppercase;}
 #wpcf7-f18-p7-o1 textarea {  width:100%; font-size: 18px;  border: 2px solid white;  background: transparent; padding:10px; margin-top:10px;color:white;}
#wpcf7-f18-p7-o1 input { width: 90%;  height: 51px; font-size: 18px;  border: 2px solid white;  background: transparent; padding: 0 10px; margin-top:10px; float:left;color:white;}

#wpcf7-f18-p7-o1 .first-row { display: inline-block; width: 33%;}
#wpcf7-f18-p7-o1 .school, #wpcf7-f18-p7-o1 .major { display: inline-block; width: 33%;}
#wpcf7-f18-p7-o1 .gpa, #wpcf7-f18-p7-o1 .grad-year { display: inline-block; width: 16%;}
#wpcf7-f18-p7-o1 .gpa input, #wpcf7-f18-p7-o1 .grad-year input {  width: 80%;}
#wpcf7-f18-p7-o1 .message { width:100%;}
#wpcf7-f18-p7-o1 input.wpcf7-submit {  width: 200px; float:right; background-color:transparent;font-family: 'Montserrat', sans-serif; text-transform: uppercase; border-radius: 30px}
#wpcf7-f18-p7-o1 input.wpcf7-submit:hover { background-color:white; color:black;}
:focus {  outline:blue;}
