

html {  background: url(../images/black-bg.png) no-repeat black; background-size: cover; height:100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
body {  margin: 20px; position: relative; height:auto;}
header a { color:gray; text-decoration: none; text-transform: uppercase;transition: background-color 0.5s ease; }
header a:hover {  color:white; transition: color 0.5s ease; }
header ul { margin: 0; padding:0; font-family: 'Montserrat', sans-serif;}
header ul li { list-style: none;}
header .main-nav {  display: inline-block;  float:left;}
/*header .menu-main-nav-container {  display:inline-block;}*/
.home header .subpage-logo {  display: none;}
header .subpage-logo {  display: inline-block; position:absolute;left: 50%;transform: translate(-50%, 0);-moz-transform: translate(-50%, 0);-webkit-transform: translate(-50%, 0); margin-top:-15px;}
header .subpage-logo img {  max-width: 180px; width:100%;}
header .social {  float:right;}
header .social .social-icon {  display:inline-block;background-color:gray; padding: 8px; border-radius:30px; margin: 0 3px;transition: background-color 0.5s ease;}
header .social .social-icon:hover { background-color:white;}
header .social .social-icon img { max-width:90%;}


footer {  color:white; font-family: 'Montserrat', sans-serif; text-transform: uppercase; font-size:12px;width:100%; text-align: center; padding-bottom:25px;}
.home footer, .page-id-9 footer {  position: absolute; bottom:0;}
/*footer .footer-wrapper {  width: 60%; margin: 0 auto; padding-bottom:30px;}
footer .footer-section {  display: inline-block;  width: 32%;}
footer .footer-section:last-child p{ margin-right:0; }
footer p {  margin:0 50px 0 0; font-family: 'Roboto', sans-serif;}
footer a {  color: gray; text-decoration: none;}
footer a:hover {  color:white;}
footer img { width:10%; }*/
/*footer .address { float:right;}*/


.image-wrapper {  position: absolute; top: 30%; left: 50%; transform: translate(-50%, -30%);-moz-transform: translate(-50%, -30%);-webkit-transform: translate(-50%, -30%); max-width:422px; width: 95%;  margin: 200px 0;}
.image-wrapper img {width: 100%;}
.image-wrapper p {  color:white; text-align: right; font-family: 'Montserrat', sans-serif; margin-top:-16px; font-size: 18px;}
.image-wrapper a {  font-family: 'Montserrat', sans-serif; text-transform: uppercase;color: white; text-decoration: none; width: 217px; margin: 0 auto; background:transparent; border-box: none;border: 2px white solid; padding: 15px 0; text-align: center;  border-radius:30px; margin-top:50px; display: block; transition: background-color 0.5s ease; transition: color 0.5s ease; }
.image-wrapper a:hover { color: black;background: white}


.consultation-page {  padding-top:125px; padding-bottom:110px; width: 70%; margin: 0 auto;}
.consultation-page h2 { font-family: 'Montserrat', sans-serif; color:white; text-transform: uppercase; text-align: center; font-size:24px; margin-bottom:50px;}
#wpcf7-f20-p7-o1 p {  color:gray;font-family: 'Montserrat', sans-serif; text-transform: uppercase;}
#wpcf7-f20-p7-o1 textarea {  width:100%; font-size: 18px;  border: 2px solid white;  background: transparent; padding:2%; margin-top:10px;color:white;box-sizing: border-box;}
#wpcf7-f20-p7-o1 input { width: 100%;  height: 51px; font-size: 18px;  border: 2px solid white;  background: transparent; padding: 0 10px; margin-top:10px; float:left;color:white;box-sizing: border-box;}

#wpcf7-f20-p7-o1 .first-row { display: inline-block; margin-right: 1%;  width: 32%;}
#wpcf7-f20-p7-o1 .phone-number {  margin-right:0;}
#wpcf7-f20-p7-o1 .school, #wpcf7-f20-p7-o1 .major { display: inline-block; width: 32%; margin-right:1%;box-sizing: border-box;}
#wpcf7-f20-p7-o1 .gpa, #wpcf7-f20-p7-o1 .grad-year { display: inline-block; width: 15.5%; margin-right:0.5%; box-sizing: border-box;}
#wpcf7-f20-p7-o1 .gpa input, #wpcf7-f20-p7-o1#wpcf7-f20-p7-o1 .grad-year input {  width: 100%;}
#wpcf7-f20-p7-o1 .message { width:100%;}
#wpcf7-f20-p7-o1 input.wpcf7-submit {  width: 200px; float:right; background-color:transparent;font-family: 'Montserrat', sans-serif; text-transform: uppercase; border-radius: 30px;transition: background-color 0.5s ease; transition: color 0.5s ease; }
#wpcf7-f20-p7-o1 input.wpcf7-submit:hover { background-color:white; color:black;}
:focus {  outline:blue;}

.blog-page {  color:white;font-family: 'Roboto', sans-serif;padding-top:125px; margin: 0 auto; padding-bottom:110px;width:100%;}
.blog-page h2 { font-family: 'Montserrat', sans-serif; text-transform: uppercase;}
.blog-page p {  padding-bottom:50px;}
.blog-page p:last-child { padding-bottom:75px;}

.twitter-feed { display: inline-block; width: 30%;  margin-bottom:20px; vertical-align: top}
.twitter-feed iframe {  width:100% !important;}

.blog-posts { padding-left: 4%; width: 65%; display: inline-block; vertical-align: top;}


.contact-wrapper {  max-width:400px; width: 95%; margin: 0 auto; padding-top: 125px; padding-bottom: 110px;}
.contact-section {  border-bottom:2px white solid; padding: 20px 0; text-align: center;}
.contact-section:last-child { border-bottom:0;}
.contact-section a, .contact-section p {  font-family: 'Roboto', sans-serif; color:white; text-decoration: none; font-size:20px;transition: color 0.5s ease; }
.contact-section a:hover p {  color:gray;}
.contact-section p {  padding-left:50px; margin:0;}
.contact-img {  max-width:40px; width: 10%; float:left;}
.contact-img img {  max-width: 100%; width:100%;}


@media only screen and (max-width: 900px) {
  #wpcf7-f20-p7-o1 .first-row, #wpcf7-f20-p7-o1 .school, #wpcf7-f20-p7-o1 .major, #wpcf7-f20-p7-o1 .gpa, #wpcf7-f20-p7-o1 .grad-year { display: block; width: 100%; margin:0;}
  #wpcf7-f20-p7-o1 input { padding: 0 10px; margin-top: 5px; }
  .consultation-page {  max-width:450px; width: 100%;}
}

@media only screen and (max-width: 800px) {
  .twitter-feed { width: 100%; display: block; margin-bottom:50px;}
  .twitter-feed iframe {  height: 250px;}
  .blog-posts { width: 100%; display: block; padding-left:0;}
}

@media only screen and (max-width: 650px) {
  header .subpage-logo, header .main-nav, header .social { float:none; display: block; width: 100%; position: relative; text-align: center; padding-bottom:10px;}
  header .main-nav li { padding: 5px 0;}
  .image-wrapper {  position: relative; transform: none; -moz-transform: none; -webkit-transform:none; left:0; display: block; margin:0 auto;}
  .home footer {  position: relative; margin-top:50px;}
  .contact-wrapper {  padding-top: 50px;  padding-bottom: 75px;}
  .blog-page { padding-top: 25px;}
  .consultation-page {  padding-top: 25px; width:95%;}
}
